/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

/* Copy and paste your work from yesterday here and start to refactor into flexbox */
.container-home {
	width: 800px;
	margin: 0 auto;
}

.container-home nav{
	display: flex;
	width: 100%;
	justify-content: flex-end;
	justify-content: space-between;
}

.container-home .navigation {
	display: flex;
	align-items: center;
}

.header, .navigation, .fa, .spv, .contact-container, .midimg {
	width: 800px;
	position: relative;
	margin: auto;
	padding: 40px 0px;
}

.navigation nav p {
	display: flex;
	margin: 0px 50px 0px 0px;
	color:lightgray;
	font-weight: bold;
}

.hb {
	width: 200px;
	margin: 0px 105px 0px 105px;
	text-align: center;
	position: relative;
	top: -80px;
}

.container-home h1 {
	font-size: 70px;
}

.container-home button {
	background: white;
	color: black;
	border: 1px solid black;
	font-family: 'Titillium Web', sans-serif;
	width: 150px;
	height: 30px;
	font-size: 12;
}

.hb, .circle {
	display: inline-block;
}

.features, .about {
	width: 49.5%;
	display:inline-block;
}

.middle-img {
	width: 800px;
}

.services, .product, .vision {
	width: 33%;
	display: inline-block;
	position: relative;
	top: 0;
}

.spv {
	padding: 0px 0px 40px 0px;
}

.spv, .header {
	border-bottom: 1px solid black;
}

.midimg {
	padding: 0px 0px 40px 0px;
}

.contact {
	width: 140px;
}

.contact p {
	margin-top: 20px;
}

.container-header footer {
	text-align: center;
	margin-bottom: 125px;
}

/* Services ONLY */

.container-services {
	width: 800px;
	margin: 0 auto;
}

.services-header-img {
	width: 800px;
	margin-top: 10px;
}

.s-navigation {
	display: flex;
	margin: 30px 0px 10px 0px;
	align-items: center;
}

.s-navigation nav{
	display: flex;
	width: 100%;
	justify-content: flex-end;
	justify-content: space-between;
}

.s-navigation nav a {
	text-decoration: none;
	color:lightgray;
	font-weight: bold;
}

.s-navigation .logo {
	margin-left: 75px;
}

.services-text {
	margin: 40px 0px 40px 0px;
}

.services-text h1 {
	font-size: 25px;
	font-weight: bold;
}

.container-services header {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	border-bottom: 1px solid black;
}

.learn {
	display:flex;
	flex-wrap: wrap;
	justify-content: space-between;
	border-bottom: 2px solid black;
}

.container-services .design, .ux, .marketing, .webdev, .ios, .androiddev {
	width: 48%;
	border: 1px solid black;
	padding: 25px 25px;
	margin-top: 35px;
	background: whitesmoke;
}

.ios, .androiddev{
	margin-bottom: 40px;
}

.container-services button {
	background: White;
	border: 1px solid black;
	padding: 7px 30px 7px 30px;
	border-radius: 6%;
	margin-top: 20px;
	font-size: 12px;
	
}

.facts {
	margin-top: 40px;
	display: flex;
	justify-content: space-between;
}

.container-services .text-facts, .services-info-img{
	width: 48%;
}

.container-services .facts p {
	margin-bottom: 20px;
}

.container-services ul li {
	list-style-type: disc;
}

.container-services li {
	margin: 5px 0px 10px 10px;
}

.container-services ul {
	margin-left: 10px;
}

.container-services footer {
	text-align: center; 
	margin: 95px 0px 15px 0px;
}